@page "/news/add-news"


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-content">
                <div class="col md-3">
                    <div class="form-group">
                        <label>عنوان</label>
                        <input type="text" name="name" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
