@page "/news"

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">News List</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="create-news" class="btn btn-info form-control">
            Add News
        </NavLink>
    </div>
</div>

@code {

}
