<div>
    This is a child component
    <p>
        @Title
    </p>
</div>

<hr/>
@if (InnerFragment != null)
{
    @InnerFragment
}
else
{
    <div class="border border-danger">
        No Fragment
    </div>
}

<hr/>
<GrandChildComponent></GrandChildComponent>

@InnerFragment2

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment InnerFragment { get; set; }

    [Parameter]
    public RenderFragment InnerFragment2 { get; set; }
}
