<div class="col-12">
    <h2>
        This is a grand child component
    </h2>
    <p>
        Grand Child Title is = @MessageForGrandChild
    </p>
    <p>
        Grand Child Data Number is = @DataNumber
    </p>
</div>
@code {

    [CascadingParameter(Name = "str_data")]
    public string MessageForGrandChild {get; set; }

    [CascadingParameter(Name = "int_data")]
    public int DataNumber { get; set; }
}
