@page "/parent-component"

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>ParentComponent</h3>

            <CascadingValue Value="@MessageForGrandChild" Name="str_data">
                <CascadingValue Value="@DataNumberForGrandChild" Name="int_data">
                    <ChildComponent Title="This is a title from the parent" @ref="childComponent"></ChildComponent>
                </CascadingValue>
            </CascadingValue>
        </div>
        <div class="col-md-12">
            <button class="btn btn-success" @onclick="() => childComponent.SwalSuccess()">
                Show Alert From Child Component
            </button>
        </div>
    </div>
</div>



@code {
    // [Parameter]
    // public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>
    // {
    //     {"Required", "Required"},
    //     {"Placeholder", "Enter Your Phone Number: "},
    //     {"MaxLength", 40},
    // };

    private ChildComponent childComponent;
    private string MessageForGrandChild = "Title from parent for grand child";
    private int DataNumberForGrandChild = 24;
}
